<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Feed Dashboard</title>
</head>
<body>
<!-- looping every post in one feed-->
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <% feedlist.forEach(function(feed, index){ %>
    <a class="nav-item nav-link" id="nav-<%= index %>-tab" data-toggle="tab" href="#nav-<%= index %>" role="tab" aria-controls="nav-<%= index %>" aria-selected="false"><%= feed.title %></a>
    <% }) %>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <% for (var feedCounter = 0, len = content.length; feedCounter < len; feedCounter++) { %>
      <div class="tab-pane fade" id="nav-<%= feedCounter %>" role="tabpanel" aria-labelledby="nav-<%= feedCounter %>-tab">
        <div class="list-group">
          <% content[feedCounter].items.forEach(function(post, index){ %>
            <a href="<%= post.link %>" target="_blank" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= post.title %></h5>
                <small><%= post.pubDate %></small>
              </div>
            <p class="mb-1"><%= post.contentSnippet %></p>
            </a>
          <% }) %>
        </div>
      </div>
    <% } %>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
$( "#nav-0" ).addClass( "show active" );
$( "#nav-0-tab" ).addClass( "active" );
</script>

</body>

</html>